<h1> SIGN IN </h1>

<% if flash[:errors] %>	
	<div id="alert">
		<% flash[:errors].each do |error| %>	
 		<h4><%= error %></h4>
 		<% end %>
	</div>
<% end %>

<form action="<%= users_path %>" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<input type="text" name="user[username]" placeholder="username">
	<button type="submit"> Sign In </button>
</form>