<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
	</head>
	<body>
		<h2> Welcome to Event Hub, <%= @user.first_name %> </h2>
		<p> You have successfully registered! You can log in with this e-mail and the password that you set up. </p>

		<p> To log in in the future, just follow this link: <%= @url %> </p>

		<p> Thanks again for joining Event Hub! We hope that you find some great events to attend! </p>
	</body>
</html>