<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title> Date and Time </title>
	</head>
	<body>
		<main>
			<div id = "text">
				<p> The current date and time is: </p>
			</div>
			<div id = "info">
				<h2> <%= @currentDate %> </h2>
				<h2> <%= @currentTime %> </h2>
			</div>
		</main>
	</body>
</html>