
<!-- <div class="header_menu">
<ul>
<% if current_page?(events_path) %>
   <li> <a href="/users/<%= current_user.id %>/edit">Edit My Profile</a> </li>
<% end %>

<% unless current_page?(events_path) %>
    <li> <a href="/events">Events Dashboard</a> </li>
<% end %>
    <li> <a href="/sessions" data-method="delete">Logout</a> </li>
<ul>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <% unless current_page?(events_path) %>
            <li class="nav-item active">
                <a class="nav-link" href="/events">Events Dashboard
                </a>
            </li>
            <% end %>
            <% if current_page?(events_path) %>
            <li class="nav-item">
                <a class="nav-link" href="/users/<%= current_user.id %>/edit">Edit My Profile</a>
            </li>
            <% end %>
            <li class="nav-item">
                <a class="nav-link" href="/sessions" data-method="delete">Logout</a>
                <span class="sr-only">(current)</span>
            </li>
        </ul>
    </div>
</nav>