// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    margin: 0px;
    padding: 0px;
}

label {
    display: block;
}

input {
    width: 100%;
}

#link {
    margin-top: 20px;
}