header{
	margin-bottom: 25px;
}

header h3{
	display: inline;
	margin: 10px 150px 10px 0px;
}

#secrets{
	width: 100%;
	height: 350px;
	margin-top: 25px;
}

#mine{
	display: inline-block;
	border: 2px solid black;
	height: 150px;
	width: 45%;
}

#liked{
	display: inline-block;
	border: 2px solid black;
	height: 150px;
	width: 45%;
}