<h1> Log In </h1>

<form action="<%= sessions_path %>" method="POST">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
	<label> Email </label>
	<input type="text" name="user[email]">
	<label> Password </label>
	<input type="password" name="user[password]">
	<button type="submit"> Log In </button>
</form>