<h1>Register Here!</h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p id="errors">
            <%= error %>
        </p>
    <% end %>
<% end %>

<form action="/users" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    
    <label for="user[first_name]">First Name</label>
    <input type="text" name="user[first_name]">

    <label for="user[last_name]">Last Name</label>
    <input type="text" name="user[last_name]">

    <label for="user[email]">Email</label>
    <input type="email" name="user[email]">

    <label for="user[password]">Password</label>
    <input type="password" name="user[password]">

    <label for="user[password_confirmation]">Password Confirmation</label>
    <input type="password" name="user[password_confirmation]">

    <input type="submit" value="Register">
</form>
