<div style="width: 970px">
    <div style="float: center; width: 200px; border: 1px solid black; margin:0px auto">The current time and date:</div>
    <div style="width: 400px; border: 1px solid black; margin:0px auto"><h1><%= @time.to_formatted_s(:long) %></h1></div>
</div>
