*{
	margin: 0px;
	padding: 0px;
}

main{
	width: 970px;
	margin: auto;
	padding: 15px;
	font-size: 16px;
	font-family: Arial, sans-serif;
}

#content{
	padding: 10px;
	border: 2px solid black;
	width: 50%;
}

#alert{
	margin: 15px 0px 15px 0px;
	padding: 10px;
	border: 2px solid black;
	background-color: lightblue;
	width: 50%;
}

form{
	margin: auto;
	padding: 5px;
}

label{
	display: block;
	margin: 5px 10px 5px 10px;
}

select{
	display: block;
	width: 150px;
	font-size: 16px;
}

textarea{
	display: block;
	resize: none;
	width: 50%;
	padding: 5px;
	margin: 5px 0px 5px 10px
}

input{
	font-size: 16px;
	margin: 0px 0px 0px 10px;
}

p{
	margin-left: 15px;
}

input[type=submit]{
	padding: 5px;
	font-size: 14px;
	background-color: lightblue;
	border: 2px solid black;
	box-shadow: 2px 2px black;
	margin: 10px 0px 10px 10px;
}

button{
	padding: 5px;
	font-size: 14px;
	background-color: lightblue;
	border: 2px solid black;
	box-shadow: 2px 2px black;
	margin: 10px 0px 10px 10px;
}
